<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Burn After Reading</title>
</head>
<body>
<% secrets.each do |name, data, src| %>
<h1><%= name %></h1>
<pre><%= data %></pre>
<p><img src="<%= src %>"></p>
<% end %>
</body>
</html>

